<ion-app>
  <!-- SPLASH -->
  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
   <div class="flb">
     <!-- <img id="despertador" src="../assets/images/despertador.png"> -->
     <img id="imgUno" class="imagenes" src="../assets/images/uno.png" alt="parcial de casa">
     <img id="imgDos" class="imagenes" src="../assets/images/dos.png" alt="parcial de casa">
     <img id="imgTres" class="imagenes" src="../assets/images/tres.png" alt="parcial de casa">
     <img  id="imgCuatro" class="imagenes" src="../assets/images/cuatro.png" alt="parcial de casa">
     <h1>Relevamiento visual</h1>
     <h2>Haedo Jonathan PPS2020</h2>
     <img id="imgCasas" src="../assets/images/casas.png" alt="antes y despues">
    </div>
 </div>
 <!-- END Splash -->

<ion-router-outlet></ion-router-outlet>

</ion-app>
